.order-content {
    height: 50px;
}

.order-footer {
    padding-top: 11px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-end;
}

.order-customBody {
    color: var(--adm-color-success);
}